rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /notes/{noteId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow delete: if request.auth != null && (request.auth.token.email == 'shaikhmirza03@gmail.com' || request.auth.token.email == 'faazil.231849.ci@mhssce.ac.in');
    }
  }
}
